{% block content %}
<h1>Welcome to the SensiML IoT Streaming Server!</h1>

<p>
<ul>
    <li>To configure the serial port for the app go to <a href="config-serial"> serialport </a></li>
    <li>To configure the test data for the app go to <a href="config-test"> test </a></li>
    <li>To configure the BLE Device for the app go to <a href="config-ble"> BLE </a></li>
    <li>To see the current configuration go to <a href="config"> config </a></li>
    <li>To start streaming data from the current configuration go to <a href="stream"> stream </a></li>
    <li>To start stop streaming data <a href="disconnect"> disconnect </a></li>
</ul>
</p>
{% endblock %}